:80 {
	root * /srv
	encode zstd gzip

	basic_auth {
		{$FRONTEND_BASIC_AUTH_USERNAME} {$FRONTEND_BASIC_AUTH_PASSWORD_HASH}
	}

	handle_path /api/* {
		reverse_proxy api:8000 {
			header_up Authorization {http.request.header.Authorization}
		}
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
